* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* General style */
.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Header style */
header {
    background: #1f1f1f;
    padding: 10px 50px;
}

#logo {
    width: 75px;
}

#logo img {
    border-radius: 10px;
    border: 2px outset #fff;
}

/* Hero style */
#hero {
    position: relative;
}

#hero #computer {
    display:  inline-block;
    width:  100%;
}

#hero .information-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0 50px;
}

#hero .information-container #photo {
    width: 150px;
    height: 150px;
}

#hero .information-container #photo img {
    border-radius: 100%;
}

#hero .information-container .information {
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .information-container .information span{
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* Main style */
main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #LinkedIn {
    background: #0077b0;
}

main .social-icons #GitHub {
    background: #23272d;
}

main .social-icons #Platzi {
    background: #121f3d;
}   

main .social-icons #Twitter {
    background: #1da1f2;
}